*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.newrequestbody
{
    background-color: rgb(52, 58, 64);
    width:100%;
    height:100vh;
    overflow-y: hidden;
}
.newrequest
{
    background-color: rgb(52, 58, 64);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: fit-content;
}
.maincontainer
{
    background-color: rgb(52, 58, 64);
    display: flex;
    justify-content: center;
    width:100%;
    height:100%;
}
form
{
    margin-top: 20px;
    background-color: white;
    width:400px;
    height:fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
input 
{
    width: 75%;
    border-radius: 50px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #c4c4c4;
    font-size: 17px;
    padding-left: 8px;
    outline: none;
}
.initialdate
{
    font-weight: bold;
    font-size: 20px;
}
.finaldate
{
    font-weight: bold;
    font-size: 20px;
}
.subject
{
    font-weight: bold;
    font-size: 20px;
}
.proof
{
    font-weight: bold;
    font-size: 20px;
}
.submit
{
    width:100px;
    font-weight: normal;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #c4c4c4;
    cursor: pointer;
}
.submit:hover
{
    background-color: rgb(52, 58, 64);
    color: white;
}